@import '../../-var.scss';

.quotes{
  display: flex;
  flex-direction: column;
}

.quest{
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  p{
   font-size: $fs-subheading;

  }
  .emojis{
    display:flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
 
     img{
      width: 25%;  
      max-width: 5rem;  
      min-width: 3rem;  
      height: auto;
      transition: transform 0.2s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
     }
    .afraid{
      width: 27%;  
      max-width: 6rem;
      min-width: 3.5rem;

        &:hover{
            content:'I am afraid'
        }
    }
    
    &:img::after {
        content: attr(data-tooltip);
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 14px;
        opacity: 0;
        transform: translateX(-50%);
        transition: opacity 0.2s;
      }
      
      &:img:hover::after {
        opacity: 1;
        bottom: 100%;
        transform: translateX(-50%) translateY(-5px);
      }
  }
 
}

.cards-container{
 display: flex;
 flex-wrap: wrap;
 padding:2rem; 
 gap:2rem;
 justify-content: center;
}

@media (max-width: 325px){
  .emojis {
    img{
      width: 20%;
    }
    .afraid{
      width: 22%;
    }
  }
}