@import '../../-var.scss';

 
 
  .card {
    display: flex;
   flex-wrap: wrap;
    position: relative;
     justify-content: center;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
    width: 20rem;
    min-height: 10rem;
    border-radius: 1rem;
    background: url('./cardbg.jpg');
     background-size: cover;
    color: white;
     align-items: center;
  }

.c-quote{
      display: flex;
flex-direction: column;
  gap:0.5rem;
  padding-inline:1.5rem;
  .quote{
    font-size: 1rem;
}
     .author{
align-self: flex-end;
font-style: italic;
     }
}

.c-btm {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
 	background-color: rgba(0, 0, 0, 0.265);
	width: 90%;
	padding: 0.5rem;
	border-radius: 1rem;
	padding-inline: 1rem;

  .like,.share,.save{
    cursor: pointer;
  }
  .save:hover{
    transform: scale(1.05);
  }
    .c-lk-sh {
      .like{
        width: 3rem; 
    display: inline-block;
      }
      .share {
        margin-left: 2rem;
        
      }
    
    }
   
}

@media (max-width:320px){
  .card{
    width:16rem;
  }
}