@import'./-var.scss';
 

 .App{
  overflow-x: hidden;
  color: #151b2c;
 //   background-color: rgba(240, 243, 240, 0.908);
position: relative;
  }

  // .container{
  //   width: 80%;
  //   max-width: 1100px;     
  // }

.btn{
padding:11px 26px 11px 26px;
width:max-content;
outline: none;
border:none;
color:white;
border-radius: 34px;
background-color: $blue;

&:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
    animation: jump 2s ease-out;
 }
 @keyframes jump {
  0% {
    transform: translate(12rem,-1.9rem);
  }
  50% {
    transform: translate(12rem,1.5rem);
  }
  50% {
    transform: translate(12rem,-1.3rem);
  }
  100% {
    transform: translate(12rem,-1.9rem);
  }
  
 }
}

 a{
  text-decoration: none;
  &:visited{
    color: inherit;
  }
  &:hover{
    color: $blue;
    text-decoration: underline;
  }
 }

 .cards-container{
display: flex;
flex-wrap: wrap;
gap:2rem;
justify-content: center;
width: 100%;
 }