@import '../../-var.scss';

.collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-collection{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 200px;
    svg{
        font-size:$fs-text;
    }
}
.no-collection>p{
font-size: $fs-text;
font-weight: bold;
font-style: italic;
}

.saved-cards{
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-inline: 2rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    .c-btm{
        .save{
            display: none;
        }
    }
 }
.c-mssg{
    font-weight: bold;
    margin: 0 auto;
    margin-top: -3rem;
}


